<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Inloggningssida</title>

    <link rel="stylesheet" type="text/css" href="BloggStyle.css">
</head>
<body>
<span th:if="${notloggedin}">
<form th:action="@{index}" th:object="${users}">
<input type="text" th:field="*{username}" placeholder="Skriv in ditt användarnamn">
<input type="text" th:field="*{password}" placeholder="Fyll i ditt lösenord">
<input type="submit" value="submit">

</form>
</span>

<span th:if="${loggedin}">

<p>Välkommen till din dagboksblogg</p>

<div class="pagination">
  <a href="#">&laquo;</a>
  <a href="#">1</a>
  <a class="active" href="#">2</a>
  <a href="#">3</a>
  <a href="#">4</a>
  <a href="#">5</a>
  <a href="#">6</a>
  <a href="#">&raquo;</a>
</div>


</span>
</body>
</html>