<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Inloggningssida</title>
</head>
<body>
<span th:if="${notloggedin}">
    <p>Välkommen att logga in</p>
<form th:action="@{index}" th:object="${users}" method="post">
<input type="text" th:field="*{username}" placeholder="Skriv in ditt användarnamn">
<input type="password" th:field="*{password}" placeholder="Fyll i ditt lösenord">
<input type="submit" value="submit">

</form>
</span>

<span th:if="${loggedin}">

<p>Välkommen till din dagboksblogg</p>
<form th:action="@{index}" th:object="${posts}" method="post">
<input type="text" th:field="*{headline}" placeholder="Titel på ditt inlägg">




</form>

</span>
</body>
</html>